@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /** BLUES */
  /* light */
  .textl-blue-primary {
    color: theme(colors[blue-10]);
  }
  .textl-blue-secondary {
    color: theme(colors[blue-9]);
  }
  .textl-blue-subtle {
    color: theme(colors[blue-8]);
  }

  /* dark */
  .textd-blue-primary {
    color: theme(colors[blue-1]);
  }
  .textd-blue-secondary {
    color: theme(colors[blue-2]);
  }
  .textd-blue-subtle {
    color: theme(colors[blue-3]);
  }

  /** ORANGES */
  /* light */
  .textl-orange-primary {
    color: theme(colors[orange-10]);
  }
  .textl-orange-secondary {
    color: theme(colors[orange-9]);
  }
  .textl-orange-subtle {
    color: theme(colors[orange-8]);
  }

  /* dark */
  .textd-orange-primary {
    color: theme(colors[orange-1]);
  }
  .textd-orange-secondary {
    color: theme(colors[orange-2]);
  }
  .textd-orange-subtle {
    color: theme(colors[orange-3]);
  }

  /** STATUS COLOURS */
  /* basic */
  .status-basic {
    @apply text-graytone-7 dark:text-graytone-4 border-graytone-4 dark:border-graytone-7;
  }

  /* member */
  .status-member {
    @apply text-green-6 dark:text-green-3 border-green-3 dark:border-green-6;
  }

  /* premium */
  .status-premium {
    @apply text-yellow-7 dark:text-yellow-4 border-yellow-4 dark:border-yellow-7;
  }

  /* team manager */
  .status-team-manager {
    @apply text-purple-7 dark:text-purple-4 border-purple-4 dark:border-purple-7;
  }

  /* admin */
  .status-admin {
    @apply text-red-7 dark:text-red-4 border-red-4 dark:border-red-7;
  }
}

@layer utilities {
  .nav {
    @apply border-blue-2 border-b-2 rounded-md transition ease-linear delay-100 cursor-pointer;
  }

  .nav:hover,
  .nav:focus {
    @apply border-b-2 border-orange-3;
  }

  /** Z-INDEXES */
  .zi-1 {
    z-index: 1;
  }

  .zi-2 {
    z-index: 2;
  }

  .zi-3 {
    z-index: 3;
  }
}
