@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /** BLUES */
  /* light */
  .textl-blue-primary {
    color: theme(colors[blue-10]);
  }
  .textl-blue-secondary {
    color: theme(colors[blue-9]);
  }
  .textl-blue-subtle {
    color: theme(colors[blue-8]);
  }

  /* dark */
  .textd-blue-primary {
    color: theme(colors[blue-1]);
  }
  .textd-blue-secondary {
    color: theme(colors[blue-2]);
  }
  .textd-blue-subtle {
    color: theme(colors[blue-3]);
  }

  /** ORANGES */
  /* light */
  .textl-orange-primary {
    color: theme(colors[orange-10]);
  }
  .textl-orange-secondary {
    color: theme(colors[orange-9]);
  }
  .textl-orange-subtle {
    color: theme(colors[orange-8]);
  }

  /* dark */
  .textd-orange-primary {
    color: theme(colors[orange-1]);
  }
  .textd-orange-secondary {
    color: theme(colors[orange-2]);
  }
  .textd-orange-subtle {
    color: theme(colors[orange-3]);
  }

  /** GRAYTONES */
}

@layer utilities {
  .nav {
    @apply border-blue-2 border-b-2 rounded-md hover:border-blue-3 transition ease-linear delay-100;
  }

  .nav:hover, .nav:focus {
    border-bottom: 3px solid theme(colors[orange-4]);
  }

  .btn {
    @apply border-b-2 border-t-2 rounded-md
  }
}
